body{
    background-color: white;
    font-family: calibri;
    color: blue;
    margin: 0;
    padding: 20px;
}

h1{
    color: red;
}

h2{
    color: brown;
}

h3{
    color: blueviolet;
}

h4{
    color: orange;
}

nav{
    color: blue;
    background-color: lightgray;
    padding: 10px;
    
}
